<!DOCTYPE HTML>
<html>
  <head>
    <title>JWT Auth and what not.</title>
  </head>
  <body>
    <div>
      <h1><strong>Edit User Details Page</strong></h1>
      <h4>Navigation</h4>
      <div>
        <a href = "/">Login/Home Page</a>
      </div>
    </div>
    <div>
      <h1>Edit User Details Form</h1>
    </div>
    <form action = "/edit" method = "POST">

      <input type = "submit" value = "Save Changes"/>
    </form>
  </body>
</html>
