<!DOCTYPE HTML>
<html>
  <head>
    <title>ERROR</title>
  </head>
  <body>
    <div>
      <h1><strong>ERROR PAGE</strong></h1>
      <h4>Navigation</h4>
      <div>
        <a href = "/setup">Registration</a>
        <a href = "/browse">Browse</a>
      </div>
    </div>


    <div id = "response">
      <div class = "content">
        Something's wrong.  Kindly try again or send  a detailed email denoting the error and the context of said error.
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type = "text/javascript" src = "../views/javascript/error.js"></script>
  </body>
</html>
