<!DOCTYPE HTML>
<html>
  <head>
    <title>Forgot Password</title>
  </head>
  <body>
    <div>
      <h1><strong>Forgot Credentials PAGE</strong></h1>
      <div>
        <a href = "/">Home</a>
        <a href = "/register">Registration</a>
        <a href = "/browse">Browse</a>
      </div>
    </div>
    <div>I forgot my Password</div>
    <hr></hr>

    <form action = "/forgot" method = "POST" >
      <input type = "email" placeholder="Email Address" name = "forgot_email_address" required/><br/>
      <input type ="submit" value="Submit" />
    </form>


    <script src = "bower_lib/validator.js"></script>
    <script src = "https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type = "text/javascript" src = "views/javascript/forgot.js"></script>
  </body>
</html>
