<!DOCTYPE html>
<html>
  <head>
    <title>User Profile {{username}}</title>
  </head>
  <body>
    <span>NAME: {{username}}</span><br />
    <span>Tags {{tags}}</span><br/>
    <span>POST COUNT: {{postCount}}</span>
  </body>
</html>
