<!DOCTYPE HTML>
<html>
  <head>
    <title>JWT Auth and what not.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div>
      <h1><strong>User REGISTRATION Page</strong></h1>
      <h4>Navigation</h4>
      <div>
        <a href = "/">Login/Home Page</a>
      </div>
    </div>
    <div>
      New User Form
    </div>
    <form action = "/register" method = "POST">
      <input type = "text" placeholder = "Username" name = "newusername" required/><br />
      <input type = "text" placeholder = "Password" name = "newpassword" required/><br/>
      <input type = "submit" value = "Signup"/>
    </form>
    <script src = "https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type = "text/javascript" src = "bower_lib/validator.js"></script>
    <script type = "text/javascript" src = "views/javascript/register.js"></script>
  </body>
</html>
