<!DOCTYPE HTML>
<html>
  <head>
    <title>JWT Auth and what not.</title>
  </head>
  <body>
    <div>
      <h1><strong>User REGISTRATION Page</strong></h1>
      <h4>Navigation</h4>
      <div>
        <a href = "/">Login/Home Page</a>
        <a href = "/items">Items</a>
      </div>
    </div>
    <div>
      New User Form
    </div>
    <form action = "/setup" method = "POST">
      <input type = "text" placeholder = "Username" name = "newusername" required/><br />
      <input type = "text" placeholder = "Password" name = "newpassword" required/><br/>
      <input type = "submit" value = "Signup"/>
    </form>
  </body>
</html>
