<!DOCTYPE HTML>
<html>
  <head>
    <title>JWT Auth and what not.</title>
  </head>
  <body>
    <div>
      <h1><strong>Privileged User Page</strong></h1>

      <h4>User Page</h4>
      <div>
        <a href = "/">Login/Home Page</a>
        <a href = "/api/logout" id = "logout">Logout</a>
      </div>
    </div>
    <div>
      <h4>User Details</h4>
      <div>
        <img src = "../imgs/testerone.png" />
      </div>
      <div>
        <a href = "/api/edit">Edit Profile</a>
      </div>
    </div>

    <form id = "new_item_form" action = "/api/items" method = "POST">
      <input type = "text" placeholder = "New Item Name" name = "newitemname" required/><br />
      <input type = "text" placeholder = "Quantity" name = "quantity" required/><br/>
      <input type = "submit" value = "Add Item"/>
    </form>
    </br/>
    <form id = "new_post_form" action = "/api/posts" method = "POST">
      <input type = "text" placeholder = "New Title" name = "formTitle" required/><br />
      <input type = "text" placeholder = "Your Content" name = "formPost" required/><br/>
      <input type = "text" placeholder = "Tags (comma separated)" name = "formTags"/><br/>
      <input type = "submit" value = "New Entry"/>
    </form>




    <div id = "recently_added">
      <div class = "header">
        <h1>Recently Added</h1>
      </div>
      <div class = "content">

      </div>
    </div>
    <div id = "user_post_collection">
      <div class = "header"><h1>User's Post Collection</h1></div>
      <div class = "content"></div>
    </div>
    <div id = "user_item_collection">
      <div class = "header"><h1>User's Item Collection</h1></div>
      <div class = "content"></div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type = "text/javascript" src = "../views/javascript/user.js"></script>
  </body>
</html>
